*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color: #111827 ;
    color: #f3f4f6;
    line-height: 1.6;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 15px 30px;
}

.navbar h1{
    color: #60a5fa;
}

.navbar u1{
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a{
    text-decoration: wavy;
    color: #e5e7eb;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover{
    color: #60a5fa;
}

.search-section{
    text-align: center;
    padding: 20px;
}

.search-section input{
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    border: #1f2937;
    font-size: 16px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 30px;
}

.card{
    background-color: #1f2937;
    border-radius: 12px;
    overflow: hidden;
    padding-bottom: 15px;
    transition: transform 0.25s, box-shadow 0.25s;
}

.card:hover{
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0,0,0,0,4);
}

.card img{
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.card h2{
    padding: 10px;
    color: #93c5fd;
}

.card p{
    padding: 0 10px 6px 10px;
    font-size: 14px;
}

.details-btn{
    display: block;
    margin: 10px;
    padding: 8px;
    text-align: center;
    background-color: #2563eb;
    color: white;
    border-radius: 8px;
    text-decoration: wavy;
    transition: background-color 0.3s;
}

.details-btn:hover{
    background-color: #1d4ed8;
}

details-container{
    display: flex;
    gap: 40px;
    padding: 40px;
    flex-wrap: wrap;
}

.character-image img{
    width: 300px;
    border-radius: 12px;
}

.character-info{
    max-width: 600px;
}

.character-info h2{
    color: #60a5fa;
    margin-bottom: 10px;
}

.character-info h3{
    margin-top: 20px;
    color: #60a5fa;
}

.character-info h4{
    margin-top: 20px;
    color: #60a5fa;
}

.about-container{
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}

.about-image{
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(150, 100, 255, 0.4);
  
   
}

.about-container h2{
    color: #60a5fa;
    margin-bottom: 15px;
}

.about-container h3{
    margin-top: 25px;
    color: #93c5fd;
}

.form-container{
    max-width: 500px;
    margin: auto;
    padding: 40px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea{
    padding: 10px;
    border-radius: 8px;
    border: none;
}

button{
    background-color: #2563eb;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background-color: #1d4ed8;
}